:root{
  --primary-color: #3A393E;
  --secondary-color: #FF6D33;
  --main-backgroun: #FFF7F5;
  --fs-biggest: 80px;
  --fs-bigear: 52px;
  --fs-big: 30px;
  --fs-logo: 29px;
  --fs-product-sub-title: 24px;
  --fs-bigest-medium: 22px;
  --fs-big-medium: 20px;
  --fs-medium: 18px;
  --fs-big-small: 16px;
  --fs-small: 11px;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-transform: capitalize;
}
.logo{
  display: flex;
  align-items: center;
  .logo-text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
    h3{
      font-size: var(--fs-logo);
    }
    p{
      font-size: var(--fs-small);
      text-transform: uppercase;
    }
  }
}
.root{
  header{
    padding: 10px 0px;
    background-color: var(--main-backgroun);
    .header-content{
      max-width: 1570px;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      
      .nav-and-action{
        display: flex;
        align-items: center;
        gap: 45px;
        nav{
          display: flex;
          align-items: center;
          gap: 100px;
          .link{
            a{
              text-decoration: none;
              color: var(--primary-color);
              font-size: var(--fs-medium);
            }
          }
          .link:hover{
            transform: scale(1.05);
            transition: .3s ease;
          }
          .link:hover a{
            color: var(--secondary-color);
            transition: .3s ease;
          }
        }
        .action{
          display: flex;
          align-items: center;
          gap: 40px;
          i{
            padding: 28px 31px;
            color: #5a5959;
            transform: scale(1.6);
          }
          i:hover{
            color: var(--secondary-color);
            transform: scale(1.7);
          }
          button{
            width: 129px;
            border-radius: 2px;
            height: 44px;
            font-size: var(--fs-big-medium);
          }
          button:hover{
            transition: .3s ease;
            border-radius: 5px;
          }
        }
      }

    }
  }
  main{
    .main-content{
      max-width: 1570px;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      .collection-products-container{
        padding: 50px 0px ;
        display: flex;
        justify-content: space-between;

        .collection-product{
          background-color: #FCF0E7;
          width: 502px;
          height: 334px;
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;          
          .collection-product-text{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 48px;
            width: 90%;
            section{
              width: 275px;
              display: flex;
              flex-direction: column;
              gap: 14px;
              h3{
                font-size: var(--fs-big);
                color: var(--primary-color);
              }
              span{
                font-size: var(--fs-bigest-medium);
                color: var(--primary-color)
              }
            }
            button{
              width: 167px;
              height: 64px;
              font-size: var(--fs-big-medium);
            }
          }
          img{
            position: absolute;
            left: 160px;
            bottom: -10px;        
          }
        }
        
      }
      .featured-products{
        padding: 50px 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;
        .section-heading{
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 20px;
          justify-content: center;
          h2{
            color: var(--primary-color);
            font-size: var(--fs-bigear);
            font-weight: bolder;
          }
          h3{
            font-size: var(--fs-big);
            color: var(--primary-color);
          }
        }
        .featured-products-content{
          .products-container{
            max-width: 1570px;
            margin: 0 auto;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            gap: 28px;
            .product{
              display: flex;
              flex-direction: column;
              gap: 20px;
              width: 503px;
              height: 455px;
              .product-image{
                position: relative;
                background-color: #F5F5F5;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 20px;
                img{
                  width: 322px;
                  height: 322px;
                  object-fit: cover;
                }
                .discount{
                  position: absolute;
                  background-color: var(--secondary-color);
                  color: white;
                  width: 53px;
                  height: 74px;
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  justify-content: center;
                  top: 0;
                  left: 12px;
                }
              }
              .product-text{
                display: flex;
                flex-direction: column;
                gap: 10px;
                h4{
                  font-size: var(--fs-product-sub-title);
                  color: var(--primary-color);
                }
                section{
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
                  gap: 20px;
                  p{
                    font-size: var(--fs-product-sub-title);
                    color: var(--secondary-color);
                    font-weight: bolder;
                    span{
                      margin-left: 20px;
                      color: var(--primary-color);
                      opacity: 0.3;
                      font-weight: normal;
                      text-decoration: line-through;
                    }
                  }
                  .stars-container{
                    .star{
          
                    }
                  }
                }
              }
            }
          } 
        }
        button{
          display: flex;
          justify-content: center;
          padding-top: 40px;
          width: 459px;
          height: 92px;
          font-size: var(--fs-big-medium);
        }
      }
    }
  }
  footer{
    padding-top: 30px;
    background-color: var(--main-backgroun);

    .footer-content{
      padding: 30px 0px;
      max-width: 1570px;
      margin: 0 auto;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      .main-column{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 46px;
        max-width: 264px;
        section{
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 40px;
        }
        .main-column-icons-container{
          display: flex;
          align-items: center;
          gap: 50px;
          i{
            cursor: pointer;
            transform: scale(1.5);
          }
          i:hover{
            transition: .3s ease;
            transform: scale(1.6);
            color: var(--secondary-color);
          }
        }
        p{
          color: var(--primary-color);
          font-size: var(--fs-big-small);
        }
      }
      .nav-columns-container{
        display: flex;
        align-items: center;
        gap: 90px;
        .links-column{
          display: flex;
          flex-direction: column;
          gap: 30px;
          h4{
            font-size: var(--fs-product-sub-title);
            color: var(--primary-color);
          }
          ul{
            display: flex;
            flex-direction: column;
            gap: 12px;
            list-style: none;
            a{
              text-decoration: none;
              font-size: var(--fs-big-small);
              color: var(--primary-color);
              cursor: pointer;
            }
            li:hover{
              transform: scale(1.05);
              transition: .3s ease;
            }
            a:hover{
              color: var(--secondary-color);
            }
          }
        }
      }
      .instagram-column{
        display: flex;
        flex-direction: column;
        gap: 20px;
        h4{
          font-size: var(--fs-product-sub-title);
          color: var(--primary-color);
        }
        .instagram-images-container{
          width: 636px;
          display: flex;
          align-items: center;
          flex-wrap: wrap;
          gap: 24px;
        }
      }
    }
    .copyright{
      padding: 20px 0px;
      border-top: 2px solid #3a393e38;
      p{
        color: var(--primary-color);
        font-size: var(--fs-small);
        text-align: center;

      }
    }
  }
}